@charset "UTF-8";
/*CSS Document */


#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

#zafon, #list {
    background: rgb(247, 247, 247);
    min-width: 80%;
    max-width: fit-content;
    text-align: center;
    
}

#mapDiv{
    height: 100%;
    width: 100%;
}
